<!DOCTYPE html>
<html lang="en">

    <head>
    </head>

    <body>
        <h1>Invitation to Draft Series League of EBC.</h1>
        <p>
            Hi There,
            You've been invited to the draft series league of Pokemon Go on EBC (Elite Battle championship).
        </p>
        <%- include('./partials/footer.ejs'); %>
    </body>

</html>
