<!DOCTYPE html>
<html lang="en">

    <head>
    </head>

    <body>
        <h1>Newsletter from EBC</h1>
        <p>
            <%=text %>
        </p>
	    <%- include('./partials/footer.ejs') %>
    </body>

</html>
