<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <h1>Email Verification</h1>
    <p>
      You password Reset link is<a href="<%= resetLink%>">Reset</a>
    </p>
    <p>If you did not register for an account, please ignore this email.</p>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>

