<!DOCTYPE html>
<html lang="en">

    <head>
    </head>

    <body>
        <h1>Email Verification</h1>
        <p>
            Thank you for join the tournament! Your rsvp Code is <b><%= code %></b>.
        </p>
        <p>If you did not register for an account, please ignore this email.</p>
        <%- include('./partials/footer.ejs'); %>
    </body>

</html>